.App {
  text-align: center;
}
.Header {
  color: #1a1a1a;
  font-family: Star Jedi;
  font-size: 4.2rem;
  text-shadow: 1px 1px 3px #fff;
  -webkit-text-stroke: 1px #ffe917;
  letter-spacing: 1rem;
  
}
/* write your parent styles in here for your App.js */
@font-face {
  font-family: 'Star Jedi';
  src: url('./STJEDISE.TTF');
}

button {
  background-color: #e64944;
  border: 1px solid #e64944;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
  font-family: monospace;
}